
.paragraph{
    font-family: var(--text-font-roboto);
}

.experience h3{
  font-family: var(--alternative-font-acorn), sans-serif; /* Usa la variable */
  font-weight: 400;
}

.paragraph ul li .cartabbx, .certificate, .cartasah{
  text-decoration: none;
  color:var(--primary-color);
}

.active{ color:var(--primary-color); font-weight: bold; }