
.home {
    width: 100%;
    align-items: center;
    /* color: var(--bg-color-primary); */
  }

  .anuncio .txt{color:var(--primary-color);}
  
  .about {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--bg-hero);
    color: var(--color-paragraph);

  }
  
  .about h2 {
    font-family: var(--alternative-font-acorn), sans-serif; /* Usa la variable */
    font-size: 80px;
    color: var(--color-subtitle);
    margin: 0;
    /* height: 50px; */
  }

  .about h2 span{color: var(--secondary-color); transition: 0.3s ease-in;}
  .about h2 span:hover{color:var(--secondary-hover);}
  
  .about .prompt {
    max-width: 30%;
    font-size: 25px;
  }
  
  .skills {
    font-family: var(--alternative-font-acorn), sans-serif; /* Usa la variable */
    color: var(--color-subtitle);
    font-size: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .item > span{
    font-family: var(--secondary-font-firacode);
  }
  
  .skills h1 {
    color: var(--color-paragraph);
  }
  
  .skills .list {
    list-style: none;
    width: 60%;
  }
  
  .list span {
    font-size: 20px;
  }
  
  @media only screen and (max-width: 600px) {
    .about h2 {
      font-size: 32px;
    }
  
    .about .prompt {
      max-width: 80%;
      margin-top: 10px;
      font-size: 20px;
      width: 80%;
    }
  
    .skills {
      text-align: center;
    }
    .list {
      padding: 0;
    }
  
    .skills h2 {
      font-size: 30px;
    }

    .skills h1{
      font-size: 50px;
    }
  }

  @media screen and (min-width: 600px) and (max-width: 1024px) {

    .about h2 {
      font-size: 50px;
    }
    .about .prompt {
      max-width: 80%;
      margin-top: 10px;
      font-size: 25px;
      width: 80%;
    }
  }
  