@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');


:root{
  --primary-font-poppins: 'Poppins', sans-serif; ;
  --secondary-font-firacode:  'Fira Code', monospace;
}

.paragraph{
    font-family: var(--secondary-font-firacode);
}

.paragraph ul li .cartabbx, .certificate, .cartasah{
  text-decoration: none;
  color:#5333ed;
}