@import url('../styles/Global.css');

.paragraph{
    font-family: var(--secondary-font-firacode);
}

.paragraph ul li .cartabbx, .certificate, .cartasah{
  text-decoration: none;
  color:var(--primary-color);
}

.active{ color:var(--primary-color); font-weight: bold; }