@import url('../styles/Global.css');

.home {
    width: 100%;
    align-items: center;
    /* color: var(--bg-color-primary); */
  }

  .anuncio .txt{color:var(--primary-color);}
  
  .about {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--bg-hero);
    color: var(--color-paragraph);
  }
  
  .about h2 {
    font-family: var(--secondary-font-firacode);
    font-size: 80px;
    color: var(--color-subtitle);
    height: 50px;
  }

  .about h2 span{color: var(--primary-color);transition: 0.3s ease-in;}
  .about h2 span:hover{color:var(--secondary-color);}
  
  .about .prompt {
    width: 40%;
    font-size: 30px;
  }

  .about .prompt p {
    height: 40%;
  }

  .prompt svg {
    font-size: 60px;
    margin: 5px;
    color: var(--icon-primary);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.prompt svg:hover{
  color:var(--icon-hover);
}
  
  .skills {
    font-size: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .item > span{
    font-family: var(--secondary-font-firacode);
  }
  
  .skills h1 {
    color: var(--color-paragraph);
  }
  
  .skills .list {
    list-style: none;
    width: 60%;
  }
  
  .list span {
    font-size: 20px;
  }
  
  @media only screen and (max-width: 600px) {
    .about h2 {
      font-size: 40px;
    }
  
    .about .prompt {
      margin-top: 10px;
      font-size: 20px;
      width: 80%;
    }
  
    .skills {
      text-align: center;
    }
    .list {
      padding: 0;
    }
  
    .skills h2 {
      font-size: 30px;
    }

    .skills h1{
      font-size: 50px;
    }
  }

  @media screen and (min-width: 600px) and (max-width: 1024px) {

    .about h2 {
      font-size: 60px;
    }
    .about .prompt {
      margin-top: 10px;
      font-size: 25px;
      width: 80%;
    }
  }
  