@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');


:root{
  --primary-font-poppins: 'Poppins', sans-serif; ;
  --secondary-font-firacode:  'Fira Code', monospace;

  --bg-body: #040d18;
  --bg-body-light: #041224;

  --bg-color-second: #121016;
--primary-color:#5333ed;
--secondary-color:#2cd3d9;
--color-paragraph:#ccd6f6;
}

.navbar .toggleButton .logoName{
  visibility: 0;
  color: white;
  text-align: left;
  margin-left: 15px;
  font-family: var(--secondary-font-firacode);
  font-weight: normal;
}

.navbar .toggleButton .logoName span{color: var(--secondary-color);transition: 0.3s ease-in;}
.navbar .toggleButton .logoName span:hover{color:var(--primary-color);}
.navbar {
    width: 100%;
    height: 100px;
    border-bottom:1px solid var(--primary-color);
    background: var(--bg-body-light);
  }
  
  .links {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .navbar a {
    position: relative;
    color: #a0a0a0;
    text-decoration: none;
    margin: 20px;
    font-size: 25px;
    padding: 0 10px;
    transition: 0.8s;
    -webkit-transition: 0.8s ease-out;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
    
}

  .navbar a:after {
    content: '';
    position: absolute;
    background-color: var(--secondary-color);
    height: 3px;
    width: 0;
    right: 0;
    bottom: -5px;
    transition: 0.8s ease-out;
    -webkit-transition: 0.8s ease-out;
    -moz-transition: 0.8s ease-out;
    -ms-transition: 0.8s ease-out;
    -o-transition: 0.8s ease-out;
    
}

.navbar a:hover{
  color:white;
  
  
}

  .navbar a:hover:after{
    width: 100%;    
    left: 0;
    
    /* quitar el left 0 */
  }
  
  .toggleButton {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .toggleButton svg {
    font-size: 50px;
  }
  .toggleButton button {
    margin-right: 20px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  #open {
    height: 100vh;
  }
  
  #open .links {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 100px;
  }
  
  #open a {
    width: 100%;
    text-align: center;
  }
  
  @media only screen and (max-width: 900px) {
    .navbar a {
      width: 70px;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .toggleButton {
      display: flex;
    }
    #close a {
      display: none;
    }
  }
  
  @media only screen and (min-width: 600px) {
    .navbar .toggleButton .logoName{
      visibility: 1;
    }

    .toggleButton {
      display: none;
    }
  
    .hiddenLinks {
      display: none;
    }
  
    #open {
      height: 100px;
    }
  
    #open .links {
      flex-direction: row;
    }
  }