@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');


:root{
  --primary-font-poppins: 'Poppins', sans-serif; ;
  --secondary-font-firacode:  'Fira Code', monospace;

  --bg-color: #111111;
  --primary-color:#5333ed;
  --secondary-color:#2cd3d9;
  --color-paragraph:#6E7076;
}

.cards
{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content:flex-start;
    width: 100%; 
    
}

.bgImage{
    background-image: url('../assets/options/freelance2.jpg');
}

.bgImage2{
    background-image: url('../assets/options/balabox.png');
}

.bgImage3{ background-image: url('../assets/options/Logo TDI.jpg');}

.cards .cardsTitle
{
    text-align: center;
    color: var(--primary-color);
    font-size: 60px;
    font-weight: bolder;
    
}

.cardList
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: auto;
    place-items: center;
    width: auto;
    
    
}

.cardList a{
    text-decoration:none;
}

.cardItem
{
    border-radius: 15px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 300px;
    margin: 40px;
    
    transition: 0.3s ease-in;
    text-align: center;
   
}

.cardItem:hover
{
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.cardItem .bgImage,
.cardItem .bgImage2,
.cardItem .bgImage3{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cardItem h1{
    font-family: var(--secondary-font-firacode);
    font-size: 20px;
    color: black;
}

/*Responsive*/

@media only screen and (max-width: 1300px) 
{
    .cardList{
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 800px) 
{
    .cardList{
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 600px) 
{

    .cardList{
        
        width: auto;
    }

    .cardItem{
        height: 300px;
        width: 100%;
    }

    .cards .cardsTitle
    {
        font-size: 45px;
    }
}